<html>
<head>
 <title>{{ config.getConfigurationValue("honeypot","name") }}</title> 
 <script src="jquery.min.js"></script>
</head>
<body style="background-color:grey; text-align:center">
  <h2>{{ config.getConfigurationValue("honeypot","name") }}</h2>
  <a href="/login.php">login</a>
  <br>
  <img style="min-width: 41%;" src="cgi-bin/image.pl">
  <script>
    function refresh() {
       location.reload(true);
    }
    setInterval(refresh,10000);
  </script>
  {% include 'ugly/footer.html' %}
</body>
</html>