[honeypot]
hostname=cam04
sensor=obscura
firmware=1.5-retail-us
serial=HX21BZ
model=C2259
workdir=/tmp/
debug=false
name=camera

[log]
path=obscura.json
timespan=86400
method=json

[http]
usernameregex=user
passwordregex=pass
port=8080
host=0.0.0.0
template=ugly

[image]
watermark=Entrance west
workdir=/tmp/
images=jpeg,jpg,png