[honeypot]
hostname=cam04
sensor=obscura
firmware=1.5-retail-us
serial=HX21BZ
model=C2259
workdir=/tmp/
debug=false

[log]
# you can choose between stdout and json/ text. 
# stdout ignores the path option
method=json
path=obscura.json
timespan=86400

[http]
usernameregex=user
passwordregex=pass
port=8080
host=127.0.0.1

[image]
watermark=Entrance west
workdir=/tmp/
images=jpeg,jpg,png